.gradle
build
nbproject
.DS_Store
.nb-gradle
.idea
Capstone.iml
SoGaCo-Web-Battleships/SoGaCo-Web-Battleships.iml
games.battleships/games.battleships.iml
languages.visual/languages.visual.iml
ui.battleships/ui.battleships.iml
classes
web
target
derby.log
.gradletasknamecache
closure-library-read-only
closure-librarybuild.xml
sogacoSrc
node_modules
hs_err_pid7546.log
hs_err_pid7566.log
bruyere
null/.SoGaCo/Capstone/database
null/.SoGaCo/Capstone/logs
