
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container_12{ position: relative; width: ; margin: 0 auto; padding: 20px;}
	
   

    @media only screen and (min-width: 768px) and (max-width: 999px) {
        .container_12                                  { width: 768px; }
        
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container_12{width: 300px;}
        
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container_12 { width: 420px; }
        
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container_12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


	
/* #custom media screen
================================================== */

@media only screen and (min-width: 981px) {
	
	
	
}

@media only screen and (max-width: 999px) {
	#content {
		position: relative;
	}
	
	#main_content {
		width: 100%;
		
		clear: both;
	}
	
	#nav_menu ul li {
		padding: 15px 5px;
	}

	#sidebar_left {
		width: 100%;
		display: inline;
	}
	
	.sidebar_box {
		width: 150px;
		float: left;
		margin-right: 20px;
	}
	
	#shared_bots.sidebar_box {
		margin-right: 0;
	}
	
	#player_one ul {
		margin-left: 0;
		padding-left: 0;
	}
	
	#key {
		position: absolute;
		bottom: 0;
		right: 130px;
	}
	
	#sidebar_right {
		position: absolute;
		right: 0px;
		top: 0;
	}
	
	#game_controls.sidebar_box {
		width: 250px;
	}
	
	#game_controls .sidebar_content {
		min-height: 250px;
	}
	
	ul.grid_box li {
		height: 24px;
		width: 24px;
	}
}

@media only screen and (max-width: 767px) {
	
	

	#main_content {
		
		width: 380px;
		margin: auto 0;
	}
	
	.menu {
        width:100%;
        padding:10px 18px;
		z-index: 99999;
    }
	
	.menu {
        position:relative;
        display:inline;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:140px;
        position:relative;
        top:35px;
        left:10px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
		z-index: 9999;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        right:33px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
		
    }
 
    .toggle-nav {

        position: relative;
		float: left;
		top: 7px;
        display:inline-block;
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
	
	#nav_menu {
		width: 50%;
	}
	
	#nav_menu ul li a {
		color: #ffffff;
	}
	
	.menu-on {
	
		display: block;
	}
 
	#user {
		
		width:50%;
	}
	
	#nav_menu ul li:hover {
		background: none;
	}
	
	
	
	#sidebar_left {
		
	}
	
	#sidebar_right {
		position: relative;
		    float: none;
	}
	
	#main_content {

	}
	
	
	#player_two ul{
		margin-right: 0;
		padding-right: 0;
	}
	
	#key {
	   position: absolute;
		bottom: 150px;
		right: 40px;
		float: right;
	}
	
	#game_controls.sidebar_box {
		width: 250px;
		margin-top: 20px;
	}
	
	#game_controls .sidebar_content {
		min-height: 200px;
	}
	
	ul.grid_box li {
		height: 18px;
		width: 18px;
	}
	
	
}

@media only screen and (max-width: 479px) {
	
	#sidebar_right {
		position: relative;
		float: none;
	}
	
	#player_two ul{
		margin-left: 0;
		padding-left: 0;
	}
	
	ul.grid_box li {
		height: 25px;
		width: 25px;
	}
	
	
	#key {
		display: none;
	}
	
	.toggle-nav {
		float: right;
		top: -35px;
	}
	
	.menu ul {
		top:0;
	}
	
	#user {
		position: relative;
		top: -5px;
		font-size: 12px;
	}

}

@media only screen and (max-width: 400px) {
	
}



@media only screen and (max-width: 980px)
{
	#sidebar_right,
	#key,
	#player_one,
	#player_two
		{
		position:relative;
		float:left;
		}
	
	#player_one ul.grid_box, #player_two ul.grid_box,
	#player_one
		{
		margin:0px 0px 0px 0px;
		}
	#key
		{
		right:0;
		}
	#set_two .left
		{
		margin:0px 0px 0px 0px;
		}
	#set_two .right
		{
		margin:0px 0px 0px 0px;
		}
	#set_two section
		{
		width:130px;
		}
	table.results-list tr td
		{
		padding:10px 0px 10px 0px;
		}

}