<section id = "User_Bots" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <bot_group ng-if="showUserBots" user></bot_group>
    <bot_group ng-if="showBuiltInBots" builtIn></bot_group>

    <div ng-if="showSharedBots" id="shared_bots" class="sidebar_box">
        <div class="sidebar_box_inner">
            <div class="sidebar_head">
                Shared Bots
            </div>

            <div class="sidebar_content">
                <div id="search">
                    <form>
                        <input class="search_box" type="text" value="Search..." />
                        <input class="search_btn" type="submit" value="" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>