/* 
    Document   : common
    Created on : Jul 23, 2013, 1:27:49 PM
    Author     : Elliot Hathaway, Jens Dietrich
*/
body {
	background-color: #2A779E;
	color: black;
	padding-top: 50px;
	/*    overflow: hidden;*/
}

#editor {
	margin: 0;
	padding: 0;
	width: 778px;
	height: 406px;
	border: grey solid 1px;
}

.testProgramBox {
	width: 200px;
	float: left;
}

.programBox {
	margin: 10px;
	width: 180px;
	float: left;
}

.programList {
	width: 180px;
	height: 406px;
	background-color: #DDD;
	overflow-y: auto;
}

.programListSmall {
	width: 180px;
	height: 193px;
	background-color: #DDD;
}

.programListResponsive {
	width : 180px;
	background-color: #DDD;
	min-height: 50px;
}

.programListResponsive li {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border-color: black;
	border-style: solid;
	border-width: 0 0 2px 0;
	cursor: pointer;
	list-style: none;
}

.programListResponsive ul {
	padding-left: 0px;
}

.programList li {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border-color: black;
	border-style: solid;
	border-width: 0 0 2px 0;
	cursor: pointer;
	list-style: none;
}

.programList ul {
	padding-left: 0px;
}

.selected {
	font-weight: bold;
	background-color: #333;
	color: #FFF;
}

.selected-player1 {
	font-weight: bold;
	background-color: #00F;
	color: #FFF;
}

.selected-player2 {
	font-weight: bold;
	background-color: #F00;
	color: #FFF;
}

.ace_gutter-cell.error_line {
	background-color: #F00;
}

#game {
	width: 320px;
	min-height: 320px;
	margin: auto;
	display: table;
	margin-top: 20px;
}

.square {
	height: 22px;
	width: 26px;
	float: left;
	background-color: #DDD;
	border: 1px solid black;
	text-align: center;
	padding: 5px 2px;
}

.justplayed {
	background-color: #00F;
}

.square-small {
	height: 15px;
	width: 15px;
	float: left;
	background-color: #DDD;
	border: 1px solid black;
	text-align: center;
	padding: 2px 2px;
	margin-left: 5px;
	margin-right: 5px;
}

#gameKey {
	float: none;
	display: inline-block;
	margin-left: 7px;
	margin-top: 20px;
}

.player1Field {
	background-color: #eff7ff;
}

.player1Played {
	background-color: #55F;
}

.player1Forced {
	background-color: #9DF;
}

.player2Field {
	background-color: #ffcccc;
}

.player2Played {
	background-color: #F44;
}

.player2Forced {
	background-color: #F99;
}

#slider {
	margin: 15px 10px 0 10px;
	width: 180px;
	display: inline-block;
}

/*New Styles*/
section, nav, header {
	margin: auto;
	width: 950px;
	display: block;
	overflow: hidden;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 10px 10px #000;
}

div.about {
	margin: auto;
	width: 950px;
	display: block;
	overflow: hidden;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: x-large;
}

h1.about {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: xx-large;
}

#menu {
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	box-shadow: 0 10px 10px #000000;
	background: #e3e3e3;
	height: 35px;
	font-size: 14px;
}

#controls .btn {
	margin: 10px 2px;
}

.lavaLampWithImage {
	position: relative;
	height: 22px;
	padding: 5px 10px 5px 0;
	margin: 0 0 0 0;
	overflow: hidden;
}

.lavaLampWithImage li {
	float: left;
	list-style: none;
	width: 165px;
}

.lavaLampWithImage li.back {
	background: #A0A0A0;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	height: 25px;
	z-index: 8;
	position: absolute;
}

.lavaLampWithImage li a {
	font: normal 130% 'News Cycle', sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
	text-decoration: none;
	color: #222;
	outline: none;
	text-align: center;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	height: 30px;
	padding: 0px 9px 0 9px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active,
	.lavaLampWithImage li a:visited {
	border: none;
}

body>script {
	display: none
}

header {
	height: 65px;
	box-shadow: 0 10px 10px #000000;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e3e3e3;
}

section {
	padding: 0px;
	width: 990px;
	padding-bottom: 15px;
}

.navbar .container {
	width: 990px;
}

.navbar {
	margin-bottom: 0;
}

#userInfo {
	width: 240px;
	height: 35px;
	margin-top: 5px;
	float: right;
	color: #000000;
	line-height: 16px;
	text-align: right;
}

#userInfo img {
	margin-top: 2px;
	margin-left: 10px;
	float: right;
	height: 30px;
}

header>* {
	display: inline-table;
}

header>h1 {
	margin-top: 12px;
	font-family: 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif;
}

#output {
	overflow: auto;
	padding: 5px;
	/*width:100%;*/
	height: 140px;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
}

/*TESTER*/
#info {
	width: 945px;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

#gameKey {
	width: 300px;
	height: 100px;
	margin-left: 30px;
}

#container {
	width: 300px;
	height: 435px;
	border: grey solid 1px;
}

#gameControlsBox {
	margin: 10px;
	float: right;
}

#gameControls {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#gameSpeed {
	margin-left: 10px;
	margin-top: -30px;
}

.keyTitle {
	font-weight: bold;
	margin-left: 7px;
}

.keyText {
	position: relative;
	padding-left: 1px;
}

@font-face {
	font-family: 'led';
	src: url('../../../../../sogacoSrc/bruyere/SoGaCo-Web-Othello/target/war/work/nz.ac.massey.cs.ig/SoGaCo-Web-Resources/css/fader.ttf') format('truetype');
}

.scoreboard {
	position: relative;
	background-color: #e3e3e3;
	margin: 10px;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	font-weight: bold; //
	font-family: 'led';
	font-size: 200%;
}

.error {
	position: relative;
	background-color: #222;
	color: #fff;
	margin: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: left;
	height: 100px;
	overflow: auto;
}

.key {
	
}

.player1score {
	color: #00F;
	margin-right: 10px;
}

.player2score {
	color: #F00;
	margin-left: 15px;
}

#startTest {
	margin: 10px auto;
	display: block;
	text-align: center;
}

#back {
	margin-left: 41px;
}

.flipH {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/*---TOURNAMENTS---*/
.lobby-btns {
	margin-left: 20px;
}

#tournamentList {
	width: 180px;
	height: 408px;
	float: left;
	background-color: #DDD;
}

#tournamentList li {
	padding-left: 10px;
	height: 30px;
	border-color: black;
	border-style: solid;
	border-width: 0 0 2px 0;
	cursor: pointer;
	list-style: none;
}

#tournamentList ul {
	padding-left: 0px;
}

/*-----------PLAYING TOURNAMENT-------------*/
#currentGame {
	height: 178px;
	width: 300px;
}

.sideBox {
	width: 300px;
	margin: 10px 0 0 10px;
	border: solid black 1px;
	border-radius: 10px 10px 0 0;
	background-color: #F9F9F9;
}

#gameRounds {
	height: 30px;
	padding: 10px;
}

#gameHistory {
	height: 180px;
	width: 300px;
	overflow: auto;
}

#gameHistory ul {
	list-style: none;
	margin-top: 0;
}

#gameHistory ul li {
	vertical-align: top;
}

#gameHistory ul li:nth-child(even) {
	background-color: #FFF;
}

.historyScore {
	float: right;
}

.historyName {
	width: 166px;
	display: inline-block;
}

#boardView {
	min-height: 475px;
	width: 600px;
	float: right;
}

#leaderboard {
	height: 475px;
	width: 600px;
	float: right;
}

#sidebar {
	float: left;
}

.currentPlayer {
	background-color: #BDBDBD;
	width: 145px;
	float: left;
	height: 120px;
	border-radius: 8px;
	margin-left: 3px;
	margin-top: 3px;
	text-align: center;
	padding-top: 5px;
}

#tournamentName {
	margin: 20px;
	font-size: 2em;
}

.listTitle {
	background-color: #000;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	color: #FFF;
}

#myModal input {
	width: 200px;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.tabbable {
	float: right;
	width: 630px;
	margin-top: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

.tab-content {
	border-left: 1px solid #ddd;
}

.rankingItem img {
	width: 50px;
	height: 50px;
}

.rank {
	padding: 5px;
	font-weight: bold;
	font-size: 1.8em;
	width: 32px;
	display: inline-block;
}

.rankingName {
	margin-left: 5px;
	font-size: 1.3em;
}

.rankingMatchPoints {
	float: right;
}

.rankingTotal {
	float: right;
	clear: right;
}

.rankingItem {
	padding: 5px;
}

.rankingItem:nth-child(even) {
	background-color: #F9F9F9;
}

.issue-ERROR {
	color: #FF0000;
}

table.details {
	width: 100%;
}

td.details-key {
	padding-right: 10px;
	text-align: right;
	width: 150px;
}

tr.details:nth-child(odd) {
	background-color: #DDDDDD;
}

.newsBox {
	margin: 10px;
	width: 180px;
	float: left;
}

.newsTitle {
	background-color: #000;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	color: #FFF;
	margin-top: 2em;
}

.newsList {
	width: 166px;
	height: 100px;
	background-color: #DDD;
	overflow-y: auto;
	padding-left: 1em;
	padding-top: 0.5em;
}

.header {
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	text-align: center;
	margin-top: 1em;
}

.indexContainer {
	padding-top: 2em;
	margin-right: auto;
	margin-left: 19em;
	*zoom: 1;
}

.loginBlock {
	width: 49%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.paddingBlock {
	padding-top: 1em;
}

.loginBlockHeader {
	padding-top: 2em;
	text-align: center;
}

.socialButtons {
	width: 15em;
	margin: auto;
}

.loginContainer {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 3em;
}

.googlePlusButton {
	
}

.googlePlusButton button {
	border-radius: 5px;
	color: white;
	padding: 0.4em;
	width: 200px;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2);
	text-align: left;
}

.googlePlusButton button:hover {
	background-color: #c23321;
}

.facebookButton {
	
}

.facebookButton button {
	border-radius: 5px;
	color: white;
	padding: 0.4em;
	width: 200px;
	background-color: #428bca;
	border-color: rgba(0, 0, 0, 0.2);
	text-align: left;
}

.facebookButton button:hover {
	background-color: #3b5998;
}

.usersBox {
	padding-left: 30px;
	margin: 10px;
	width: 180px;
	float: left;
}

.usersTitle {
	background-color: #000;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	color: #FFF;
	margin-top: 2em;
	width: 230px;
}

.usersList {
	width: 230px;
	height: 606px;
	background-color: #DDD;
	overflow-y: auto;
	padding-left: 1em;
	padding-top: 0.5em;
}

.usersList input {
	width: 160px;
	height: 22px;
	border-radius: 2px;
	margin-top: 10px;
}

.usersList select {
	width: 220px;
}

.adminHeader {
	font-size: 30px;
	font-weight: 200;
	color: black;
	text-shadow: 0 1px 0 #ffffff;
	text-align: right;
	margin-top: 1em;
}

.adminContainer {
	margin-right: auto;
	text-align: left;
	padding-top: 0.7em;
	margin-left: 17em;
	height: 350px;
	*zoom: 1;
}

.editUserBox {
	vertical-align: bottom;
	padding-left: 36px;
}

.editUserTitle {
	background-color: #000;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	color: #FFF;
	margin-top: 2em;
	width: 640px;
}

.editUserForm {
	width: 640px;
	height: 200px;
	background-color: #DDD;
	overflow-y: auto;
	padding-left: 1em;
	padding-top: 0.5em;
}

.editUserForm label {
	float: left;
	clear: left;
	width: 180px;
	text-align: left;
	padding-top: 5px;
}

.editUserForm input {
	display: inline-block;
	float: left;
}

.editUserForm select {
	display: inline-block;
	float: left;
}

.editUserForm button {
	display: inline-block;
	float: left;
}

.editContainer {
	margin-left: 17em;
	padding-top: 4em;
	*zoom: 1;
	height: 280px;
}

.errorTitle .ui-dialog-titlebar {
	background: #ff0033;
	border-color: #cc0000
}

.noteTitle .ui-dialog-titlebar {
	background: #0088cc;
	border-color: #0044cc
}

.WarnTitle .ui-dialog-titlebar {
	background: #ff6600;
	border-color: #cc6600;
}

.multiInputBox {
	vertical-align: top;
	padding-left: 36px;
}

.multiInputTitle {
	background-color: #000;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	color: #FFF;
	margin-top: 2em;
	width: 640px;
}

.multiInputForm {
	width: 640px;
	height: 350px;
	background-color: #DDD;
	overflow-y: auto;
	padding-left: 1em;
	padding-top: 0.5em;
}

.multiInputForm textarea {
	resize: none;
	height: 290px;
	width: 600px;
}

.profilePicture {
	float: right;
	display: none;
	display: inline-block;
}

.profilePictureContent {
	float: right;
	display: none;
	padding-left: 1em;
	line-height: 40px;
}

.authFailure {
	padding-top: 1em;
	text-align: center;
	color: red;
}

.soGaCoContainer {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 10px 10px #000;
}