.main_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#main_content {
    position: relative;
    float: left;
}

.clear {
    clear: both;
}

.test_grid_box {
    float: right;
    padding-top: 50px;

}

.left {
    float: left;
}

.right {
    float: right;
}

#search {
    padding: 0 5px;
}

/* END OF GLOBAL */

/* CONTENT */

ul.test_grid {
    position: relative;
    float: left;
    border: 3px solid #0090db;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 10px 35px 6px #000000;
    list-style-type: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul.test_grid li {
    position: relative;
    display: block;
    float: left;
    border: 1px solid #00ccff;
    height: 2.5em;
    width: 2.5em;
    overflow: hidden;
}

/* END OF CONTENT */

/* FOOTER */

#footer {

}

/* END OF FOOTER */

#user {
    z-index: 999;
}

ul.user-top li {
    position: relative;
    float: left;
    list-style: none;
    text-align: right;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

ul.user-top li {
    margin-left: 10px;
}

.sidebar_box {
    background: #1a445b;
    -moz-box-shadow: 3px 3px 95px 16px #000000;
    -webkit-box-shadow: 3px 3px 95px 16px #000000;
    box-shadow: 3px 3px 95px 16px #000000;

    border: 3px solid #00ccff;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 100%;
}

#sidebar_left {
    width: 18%;
}

#main_content {
    padding: 2.5%;
    position: relative;
    width: 100%;
    float: left;
}

.main-cont-menu {
    position: relative;
    float: left;
}

.main-cont-menu ul {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.main-cont-menu ul li {
    list-style: none;
    position: relative;
    float: left;
}

.main-cont-menu ul li a {
    position: relative;
    float: left;
    border-radius: 5px;
    background: #337ab7;
    color: #ffffff;
    text-transform: capitalize;
    padding: 8px 20px 8px 30px;
}

.main-cont-menu ul li.new a {
    background: url(../images/new.jpg) 10px 9px no-repeat #337ab7;
    margin-right: 10px;

}

.main-cont-menu ul li.del a {
    background: url(../images/del.jpg) 10px 9px no-repeat #337ab7;
}

.main-cont-menu ul li.save a {
    background: url(../images/save.jpg) 10px 9px no-repeat #337ab7;
}

.main-cont-menu ul li.del a {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #3073ac;
}

.main-cont-menu ul li.save a {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.main-blockly {
    margin-top: 50px;
    background: #1a445b;
    padding: 5px 5px 5px 5px;
    border: 3px solid #00ccff;
    border-radius: 10px;
    position: relative;
}

.blocklySvg {
    background-color: rgba(0, 0, 0, 0.1) !important;
    width: 100%;
}

.blocklyZoom {
    float: right;
}

.progress-striped {
    width: 100%
    height: 40px;
}

.username {
    color: #ffffff;
    font-family: Designer;
    font-size: 14px;
}

.test-grid-buttons {
    float: left;
    display: inline;

}

.test-grid-content {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

