/* 
    Document   : Additional styles used by the othello tester ui.
    Author     : Jens Dietrich
    
    TODO
*/

/*
	Comment : Nothing needs to be added right now.
	Author : Johannes Tandler
	Date : 20.05.15
*/
