#Default configuration file for SoGaCo-Web-Project.
#See javadoc of PropertiesConfiguration for more details.
#Mon May 25 10:39:13 NZST 2015


#debugMode
isDebugMode=false

#default admins
defaultAdmins=jbdietri, jtandler

#logging level
logLevel=INFO

#database connection url
jdbcConnectionURL=jdbc:derby:database;create=true

#default logging url
eventLoggingURL=http://localhost:8080/logging